@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #8d7147;
    overflow-x: hidden;
    width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #c19d67;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #6f4e37;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6f4e37;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #8d7147;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff;
    background: #42a3ff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3a2306;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.login {
    background: #8d7147;
    color: white;
}

a.sign-up, a.sign-up:hover {
    background: #3a2306 !important;
    color: #fff !important;
}

a.dropdown-toggle {
    background-color: #6f4e37;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    padding: 5px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 3px;
    color: white;
    background: #c19d67;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    min-width: 100px;
}

.card.title {
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.3s;
    transition: transform .2s;
}

.card.title:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hb-icon {
    border: 2px solid #5e4423;
}

.title .content {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title h1 {
    font-size: 1em;
    text-transform: uppercase;
    color: blue;
}

.card>.footer {
    border-top: 1px solid #dedede;
    padding: 4px;
    margin: 0;
}

.card>.footer .btn-simple {
    color: #6495ED;
    padding: 12px;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.nav-link.paypal:hover {
    color: #2997d8 !important;
}

.nav-link.discord:hover {
    color: #738adb !important;
}

.nav-link.reddit:hover {
    color: #FF4301 !important;
}

footer {
    background-color: #fff;
}

.modal-content {
    background-color: #c19d67;
}

p.ng-binding {
    color: white !important;
    text-align: center;
}

.btn-blue {
    background-color: #3a2306;
    color: white;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 768px) {
    #search-input {
        width: 100px;
        left: 70%;
        margin-left: -30px;
    }
}

/* ---------------------------------------------------
    DARK THEME
----------------------------------------------------- */

[data-theme="dark"] #sidebar {
    background-color: darkgray;
}