<!DOCTYPE html>
<html lang="en" ng-app="brewshop">

<head>
    <title>hShop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://kit.fontawesome.com/3a085e3a57.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./../css/style.css">
    <script src="./../js/app.js"></script>
    <script src="./../js/arrive.min.js"></script>
    <script src="./../js/bootstrap-datepicker.js"></script>
    <script src="./../js/loading-bar.min.js"></script>
    <script src="./../js/view.js"></script>    
</head>

<body ng-controller="TitleListController">
    <noscript>This site needs JavaScript permission to function!</noscript>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
        style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);">
        <a class="navbar-brand" href="#" style="margin: 0; position: absolute; left: 50%;
        margin-right: -50%; line-height:8px; font-size: 33px;"><img src="./assets/logo.png" alt="hShop"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/hShop/hShop-site" target="_blank"><i class="fab fa-github"></i> Source</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-paypal"></i> Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-arrow-circle-up"></i> Submit Homebrew</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Console
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">3DS</a>
                        <a class="dropdown-item" href="#">NDS(i)</a>
                    </div>
                </li>
            </ul>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-user-circle"></i></a>
            </li>
            <form class="search-form navbar-right navbar-form" role="search">
                <div class="input-group">
                    <input type="text" id="search-input" class="form-control" placeholder="Search"
                        ng-model="searchQuery" />
                    <span class="input-group-addon">
                        <label for="search-input" class="mdi mdi-magnify"></label>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="sidenav">
        <a href="./all.html"><i class="fas fa-border-all"></i> All</a>
        <a href="./apps.html"><i class="fas fa-boxes"></i> Apps</a>
        <a href="./games.html"><i class="far fa-play-circle"></i> Games</a>
        <a href="./emulators.html"><i class="fas fa-gamepad"></i> Emulators</a>
        <a href="./other.html"><i class="fas fa-info-circle"></i> Other</a>
    </div>

    <div class="container">
        <div class="row" id="titles">
            <div class="col-xs-12 col-sm-6 col-md-3"
                ng-repeat="title in titles | filter : searchQuery | filter : {categories:'3ds'} | filter : {categories:'games'}">
                <div class="card title">
                    <div class="content">
                        <div class="media">
                            <div class="media-left">
                                <img ng-src="./assets/images/{{title.titleid}}.png" alt="{{title.name}}-icon"
                                    class="media-object hb-icon pull-left">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <a href="{{title.url}}" target="_blank"><span class="title-name text-primary"
                                            title="{{title.name}}">{{title.name}}</span></a>
                                </div>
                                <small title="by {{title.author}}">by {{title.author}}</small>
                            </div>
                        </div>
                        <br />
                        <p class="truncate" title="{{title.description}}">{{title.description}}</p>
                        <p class="text-muted">
                            <small>Last Updated: {{title.update_time}}</small>
                            <br />
                            <small>Created On: {{title.create_time}}</small>
                            <br />
                            <small>Version: {{title.version}}</small>
                        </p>
                        <div class="collapse qr-collapse" id="qr-{{title.titleid}}"></div>
                    </div>
                    <div class="modal fade" id="downloadModal-{{$index}}" tabindex="-1" role="dialog"
                        aria-labelledby="downloadModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" ng-if="title.name">
                                        <center>{{title.name}} download menu</center>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div ng-repeat="file in title.files">
                                        <a href="{{file.url}}">{{file.name}}</a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-blue" data-dismiss="modal"
                                        data-toggle="tooltip">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div align="center" class="footer">
                        <a class="btn btn-default btn-simple trigger" data-placement="top" data-toggle="modal"
                            data-target="#downloadModal-{{$index}}">DOWNLOAD</a>
                        <a ng-href="{{title.url}}" title="{{title.url}}" class="btn btn-default btn-simple"
                            role="button" data-toggle="tooltip" data-placement="top" target="_blank">QR CODE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>

</footer>

</html>